<!DOCTYPE html>
    <html>
        <head>
            <!-- meta data and css-->
            <title>{{ page.title }} | {{ site.title }}</title>
            <link rel = "stylesheet" href = "/style.css">
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1">

            <!--navbar-->
            <ul id = "nav-bar">
                <li id = "nav-list"><a href = "/">Home</a></li>
                <li id = "nav-list"class = "dropdown">
                    <a href = "#code" class = "dropdown-button">Code</a>
                    <div class = "dropdown-content">
                        <a href = "#python">Python</a>
                        <a href = "#java">Java</a>
                        <a href = "#c-sharpe">C#</a>
                    </div>
                </li>
                <li id = "nav-list"><a href = "#game">Game Dev</a></li>
                <li id = "nav-list"><a href = "#cyber">Cyber</a></li>
                <li id = "nav-list"><a href = "/about/">About</a></li>
            </ul>
        </head>

        <body>
            <!--content columns-->
            <div class = 'row'>
                <!--extra links-->
                <div class = 'column side'>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin viverra interdum sollicitudin. Curabitur viverra, velit sed gravida gravida, libero nunc posuere arcu, eget feugiat nulla urna at velit. Nullam enim nisi, mollis sed tincidunt in, semper a magna. Donec consequat placerat facilisis. Integer faucibus augue bibendum, posuere nunc nec, varius nunc. Vivamus lobortis diam eget ipsum dignissim tempor sodales ac eros. Aliquam ut faucibus arcu. Aliquam erat volutpat. In efficitur nulla dolor, at rhoncus purus vehicula eget. Nam venenatis tincidunt aliquet. Pellentesque id ligula eleifend, euismod nunc vitae, pellentesque est.

                        Proin auctor, felis nec tincidunt sagittis, erat elit auctor lacus, id sagittis risus est a justo. Sed in eleifend nibh. Mauris facilisis auctor sem. Maecenas vel libero sagittis mauris fermentum porttitor eget euismod orci. Quisque sagittis sapien non nisl sagittis euismod. Maecenas mattis mollis ex, ac egestas ligula porttitor id. Nam imperdiet, urna ut pulvinar rutrum, urna justo ullamcorper nulla, a molestie metus elit vitae elit. Suspendisse fermentum convallis eros et egestas. Aenean iaculis placerat nunc vitae malesuada. Donec tristique suscipit odio dapibus porttitor. Vivamus non dui ullamcorper, vestibulum purus nec, imperdiet nunc. Curabitur viverra elementum ex, vitae egestas urna elementum ut. Nam porttitor vehicula placerat. Donec euismod gravida auctor. Maecenas diam ex, accumsan nec efficitur vel, condimentum in enim.
                        
                        Cras nibh tellus, sollicitudin id feugiat sed, consequat id purus. Sed aliquam maximus fermentum. Quisque urna augue, varius id nisi sed, egestas sollicitudin quam. Praesent id tellus maximus justo bibendum viverra vitae eget elit. Proin bibendum sagittis massa sit amet vulputate. Quisque et sodales justo, at malesuada ipsum. Praesent vitae gravida felis. Vivamus sit amet vehicula orci, et dignissim arcu. Curabitur at hendrerit diam. Nullam eget ultrices eros. Praesent sodales nec libero at posuere. Nullam vel justo vitae massa mattis pellentesque in sit amet ex. Suspendisse nec felis nec lacus ornare sollicitudin.
                        
                        Sed consectetur tellus sed congue accumsan. Fusce gravida aliquet libero nec ullamcorper. Donec id efficitur augue. Suspendisse vitae justo aliquam, ullamcorper massa ac, commodo odio. Mauris a tortor ipsum. Proin blandit dui auctor mi hendrerit, quis scelerisque dolor laoreet. Donec tempus ultricies tincidunt. Curabitur erat purus, vehicula non metus eu, gravida euismod nulla. Donec tincidunt turpis congue sem iaculis porttitor. Fusce iaculis sapien lacinia varius feugiat. Aenean eu pharetra massa, vitae congue metus.
                        
                        Sed tristique blandit mauris, finibus pellentesque mi cursus id. Etiam at elit in tellus gravida condimentum. Vivamus feugiat, tellus sed iaculis dignissim, enim felis aliquam velit, id aliquam purus est at enim. Maecenas faucibus ligula vel tellus varius vulputate. Aenean tincidunt ex at metus sodales accumsan. Fusce imperdiet, turpis eget iaculis gravida, risus felis porttitor magna, at tincidunt risus nunc sed nisi. Sed iaculis ultrices lorem in bibendum.
                        
                        </p>
                </div>

                <!--main content-->
                <div class = 'column middle'>
                    <h2>{{ page.title }}</h2>
                    <p>{{ content }}</p>
                </div>

                <!--stuff-->
                <div class = 'column side'>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin viverra interdum sollicitudin. Curabitur viverra, velit sed gravida gravida, libero nunc posuere arcu, eget feugiat nulla urna at velit. Nullam enim nisi, mollis sed tincidunt in, semper a magna. Donec consequat placerat facilisis. Integer faucibus augue bibendum, posuere nunc nec, varius nunc. Vivamus lobortis diam eget ipsum dignissim tempor sodales ac eros. Aliquam ut faucibus arcu. Aliquam erat volutpat. In efficitur nulla dolor, at rhoncus purus vehicula eget. Nam venenatis tincidunt aliquet. Pellentesque id ligula eleifend, euismod nunc vitae, pellentesque est.

                        Proin auctor, felis nec tincidunt sagittis, erat elit auctor lacus, id sagittis risus est a justo. Sed in eleifend nibh. Mauris facilisis auctor sem. Maecenas vel libero sagittis mauris fermentum porttitor eget euismod orci. Quisque sagittis sapien non nisl sagittis euismod. Maecenas mattis mollis ex, ac egestas ligula porttitor id. Nam imperdiet, urna ut pulvinar rutrum, urna justo ullamcorper nulla, a molestie metus elit vitae elit. Suspendisse fermentum convallis eros et egestas. Aenean iaculis placerat nunc vitae malesuada. Donec tristique suscipit odio dapibus porttitor. Vivamus non dui ullamcorper, vestibulum purus nec, imperdiet nunc. Curabitur viverra elementum ex, vitae egestas urna elementum ut. Nam porttitor vehicula placerat. Donec euismod gravida auctor. Maecenas diam ex, accumsan nec efficitur vel, condimentum in enim.
                        
                        Cras nibh tellus, sollicitudin id feugiat sed, consequat id purus. Sed aliquam maximus fermentum. Quisque urna augue, varius id nisi sed, egestas sollicitudin quam. Praesent id tellus maximus justo bibendum viverra vitae eget elit. Proin bibendum sagittis massa sit amet vulputate. Quisque et sodales justo, at malesuada ipsum. Praesent vitae gravida felis. Vivamus sit amet vehicula orci, et dignissim arcu. Curabitur at hendrerit diam. Nullam eget ultrices eros. Praesent sodales nec libero at posuere. Nullam vel justo vitae massa mattis pellentesque in sit amet ex. Suspendisse nec felis nec lacus ornare sollicitudin.
                        
                        Sed consectetur tellus sed congue accumsan. Fusce gravida aliquet libero nec ullamcorper. Donec id efficitur augue. Suspendisse vitae justo aliquam, ullamcorper massa ac, commodo odio. Mauris a tortor ipsum. Proin blandit dui auctor mi hendrerit, quis scelerisque dolor laoreet. Donec tempus ultricies tincidunt. Curabitur erat purus, vehicula non metus eu, gravida euismod nulla. Donec tincidunt turpis congue sem iaculis porttitor. Fusce iaculis sapien lacinia varius feugiat. Aenean eu pharetra massa, vitae congue metus.
                        
                        Sed tristique blandit mauris, finibus pellentesque mi cursus id. Etiam at elit in tellus gravida condimentum. Vivamus feugiat, tellus sed iaculis dignissim, enim felis aliquam velit, id aliquam purus est at enim. Maecenas faucibus ligula vel tellus varius vulputate. Aenean tincidunt ex at metus sodales accumsan. Fusce imperdiet, turpis eget iaculis gravida, risus felis porttitor magna, at tincidunt risus nunc sed nisi. Sed iaculis ultrices lorem in bibendum.
                        
                        </p>
                </div>
            </div>
        </body>
    </html>

    <!-- <h1>{{ page.title }}</h1>
            <p>{{ content }}</p> -->