<!DOCTYPE html>
    <html>
        <head>
            <title>{{ page.title }} | {{ site.title }}</title>
            <link rel = "stylesheet" href = "style.css">

            <ul id = "nav-bar">
                <li id = "nav-list"><a href = "#home">Home</a></li>
                <li id = "nav-list"class = "dropdown">
                    <a href = "#code" class = "dropdown-button">Code</a>
                    <div class = "dropdown-content">
                        <a href = "#python">Python</a>
                        <a href = "#java">Java</a>
                        <a href = "#c-sharpe">C#</a>
                    </div>
                </li>
                <li id = "nav-list"><a href = "#game">Game Dev</a></li>
                <li id = "nav-list"><a href = "#cyber">Cyber</a></li>
                <li id = "nav-list"><a href = "#about">About</a></li>
            </ul>
        </head>

        <body>
            <h1>{{ page.title }}</h1>
            <p>{{ content }}</p>
        </body>
    </html>