<!DOCTYPE html>
    <html>
        <head>
            <!-- meta data and css-->
            <title>{{ page.title }} | {{ site.title }}</title>
            <link rel = "stylesheet" href = "/style.css">
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1">

            <!--navbar-->
            <ul id = "nav-bar">
                <li id = "nav-list"><a href = "/">Home</a></li>
                <li id = "nav-list"class = "dropdown">
                    <a href = "/code" class = "dropdown-button">Code</a>
                    <div class = "dropdown-content">
                        <a href = "/python">Python</a>
                        <a href = "#java">Java</a>
                        <a href = "#c-sharpe">C#</a>
                    </div>
                </li>
                <li id = "nav-list"><a href = "#game">Game Dev</a></li>
                <li id = "nav-list"class = "dropdown">
                    <a href = "/cyber" class = "dropdown-button">Cyber</a>
                    <div class = "dropdown-content">
                        <a href = "/tryhackme">Tryhackme</a>
                        <a href = "#java">Hackthebox</a>
                    </div>
                </li>
                <li id = "nav-list"><a href = "/about">About</a></li>
            </ul>
        </head>

        <body>
            <!--content columns-->
            <div class = 'row'>
                <!--main content-->
                <div class = 'column middle'>
                    <h2>{{ page.title }}</h2>
                    <p>{{ content }}</p>
                </div>

                <!--extra links-->
                <div class = 'column side'>
                    <p>Add stuff here</p>
                </div>
            </div>
        </div>
    </body>
</html>